* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

/* HEADER */


header {
    background-color: #255ee9;
    padding: 1rem 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.menu ul li {
    padding: 5px 10px;


}

.menu ul li a {
    color: white;
    text-decoration: none;

}


.login-button {
    color: #5865F2;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;

}

/* Effetti al passaggio del mouse */

.login-button:hover {
    opacity: 0.8;
}




/* MAIN */


/* Hero Jumbotrone*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}


.container2 {

    width: 100%;
    display: flex;
    justify-content: center;

    background-size: cover;

}


.hero {
    background: url(../img/img/jumbo.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 20px;

}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    padding: 0 30%;
    font-size: 1rem;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;


}

.mac-version {
    background-color: #3a71c1;
    color: white;
}

.browser-version {
    background-color: white;
    color: #3a71c1;
}

/* cerntral part section 1 */

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 0;
    width: 60%;
}

.rett1 {
    flex-basis: 60%;
    background: url(../img/img/item1.svg) no-repeat center;
    background-size: contain;
    min-height: 200px;
}

.rett2 {
    flex-basis: 40%;
    color: #23272A;
}

.rett2 h2 {
    margin-bottom: 15px;
}

.rett2 p {
    font-size: 1rem;
    line-height: 1.6;
}



/* centralpart section 2 */



/* central part section 2 */
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 0;
    width: 60%;
}

.rett3 {
    flex-basis: 40%;
    color: #23272A;
}

.rett4 {
    flex-basis: 60%;
    background: url('../img/img/item2.svg') no-repeat center center;
    background-size: contain;
    min-height: 200px;
}

.rett3 h2 {
    margin-bottom: 15px;

}

.rett3 p {
    font-size: 1rem;
    line-height: 1.6;
}

/* wave-background*/


/* central part section 3 */

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 0;
    width: 60%;
}

.rett5 {
    flex-basis: 60%;
    background: url(../img/img/item3.svg) no-repeat center;
    background-size: contain;
    min-height: 200px;
}

.rett6 {
    flex-basis: 40%;
    color: #23272A;
}

.rett6 h2 {
    margin-bottom: 15px;
}

.rett6 p {
    font-size: 1rem;
    line-height: 1.6;
}





/* central part section 4 */

.container6 {
    padding: 50px 20px;
    gap: 0;
    width: 60%;
}

.rettverde {
    text-align: center;
    color: #23272A;
}

.container6 h2 {
    margin-bottom: 15px;
}

.container6 {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 25px;
    background-color: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
}

.adventure {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.adventure::before,
.adventure::after {
    content: url('../img/img/stars.svg');
    position: absolute;
    ;
    transform: translateY(-50%);
}

.adventure::before {
    left: -30px;
}

.adventure::after {
    right: -30px;
}

/* FOOTER */
footer {
    background-color: #23272A;
    color: white;
    padding: 50px 20px;
}

.footer-top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   padding: 10px;
    border-bottom: 1px solid grey;

}

.footer-branding {
     text-align: left;
     padding:0 30px 20px 0 ;
}

.footer-branding h2 {
    margin-bottom: 20px;

}
 
.language-select {
    padding-bottom: 20px;
}



.social-icons a {
    margin-right: 10px;
    text-decoration: none;
}

.footer-links-container {
    display: flex; 
    
}

.footer-column h3 {
    margin-bottom: 30px;
    padding-right: 30px;
}

.footer-column a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
}







.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
}

.register-button {
    background-color: #5865F2; 
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
}


